@model List<Mark>

<table class="table table-dark table-hover">
	<tr><th>Семестр</th><th>Название дисциплины</th><th>Оценка</th></tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@item.Semester
			</td>
			<td>@item.Subject</td>
			<td>@item.Mark1</td>
		</tr>
	}

</table>